/shared/uploads/
local-config.php
/sql-dump-*.sql
/db-sync/
.DS_Store
.htaccess
wp-config.php
/content/uploads/
/content/blogs.dir/
/content/upgrade/
/content/backup-db/
/content/advanced-cache.php
/content/wp-cache-config.php
sitemap.xml
*.log
/content/cache/
/content/backups/
sitemap.xml.gz
*.sublime-project